<!DOCTYPE html>
<html>
<head>
	<title>Customer-Signup</title>
	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
</head>

<body style="background-image:url('images/ban.jpg');">


<!--Start of nav bar-->

<div >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top " style="padding:10px;">
  <h4 style="color: white;font-family: Trebuchet MS;"> Online Bidding System </h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">

        <a class="nav-link" href="index.html">&nbsp;&nbsp;Home <span class="sr-only">(current)</span></a>
      </li>
            
    </ul>
              
      <button class="btn btn-outline-warning my-2 my-sm-0"  onclick="window.location.href='login.html'">Login</button>
      &nbsp;
      <!--button class="btn btn-outline-success my-2 my-sm-0 active"  onclick="window.location.href='signup.html'">Register</button-->

    
  </div>
</nav>
  </div>

<!--End of nav bar-->


</br>

	<center>
		<div class="alert alert-dark" style="width:50%;opacity: 0.9;margin:60px;" align="left"role="alert">
			<h4>Please Signup </h4>
      <h6>Fields with (*) are mandatory!</h6>
      <hr>
		<!-- form opening -->
		<!--form class="needs-validation" method="POST" action="{% url 'doregister' %}" id="form" onsubmit="return validate()">-->
      <form method="POST" action="{% url 'doregister' %}" id="form" onsubmit="return validate()">

      
  <div class="form-row">
    <div class=" col-md-6 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" name="fname" class="form-control" id="fname" placeholder="First name" required>
     
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationCustom02">Last name</label>
      <input type="text" name="lname" class="form-control" id="lname" placeholder="Last name" required>
    </div>
    
  </div>
   <div class="form-row">
    <div class="col-md-12 mb-3 ">
      <label for="validationCustom03">Email</label>
      <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email" required>
      <div class="invalid-feedback">
        Please provide a valid Email.
      </div>
    </div>
</div>
 
   <div class="form-row">
    <div class=" col-md-6 mb-3 ">
      <label for="validationCustom03">password</label>
      <input type="password" name="pass" class="form-control" id="pass" placeholder="Password" required>
      <div class="invalid-feedback">
        Please provide a valid password.
      </div>
    </div>
  
  
    <div class="col-md-6 mb-3 ">
      <label for="validationCustom03">Confirm Password</label>
      <input type="password" name="cpass" class="form-control" id="cpass" placeholder="Retype Password" required>
      <div class="invalid-feedback">
        Please retype password.
      </div>
    </div>
  </div>

    <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Mobile Number</label>
      <input type="Number" name="mob" class="form-control" id="mob" placeholder="Enter Mobile" required>
      <div class="invalid-feedback">
        Please provide a valid Email.
    </div>
</div>

<div class="form-group col-md-6">
    <div class="form-check">
      <label for="inputState">Gender</label>
      <select id="gen" name="gen" required="" class="form-control">
        <option selected> Choose</option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
    </div>


</div>
 
  <div class="form-row">
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
            </label>
        <div class="invalid-feedback">
        You must agree before submitting.
      </div>
  </div>
 </div>
 </div>
 <div class="form-row">
  <button class="btn btn-primary" type="submit"  align="center" > Submit </button>
</div>
</form>
		<!-- form  end-->
	</center>

  <!--Validation of form data-->

  <script type="text/javascript">
    
    function validate(){
      var x =document.getElementById("form");

      if(x.pass.value != x.cpass.value)
      {
        alert("password don't match");
        x.cpass.focus();
        x.cpass.type="text";

        return false;
      }
      return true;


    }


  </script>

  <!--End VAlidation of form data-->

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

</body>
</html>